In [94]:
from sklearn import datasets
import pandas as pd
from math import log2

In [95]:
iris = datasets.load_iris()

In [96]:
df = pd.DataFrame(iris.data)
df.columns = ["sl", "sw", 'pl', 'pw']

In [97]:
#Function to find label for a value
#if MIN_Value <=val < (m + Mean_Value) / 2 then it is assigned label a
#if (m + Mean_Value) <=val < Mean_Value then it is assigned label b
#if (Mean_Value) <=val < (Mean_Value + MAX_Value)/2 then it is assigned label c
#if (Mean_Value + MAX_Value)/2 <=val <= MAX_Value  then it is assigned label d

def label(val, *boundaries):
    if (val < boundaries[0]):
        return 'a'
    elif (val < boundaries[1]):
        return 'b'
    elif (val < boundaries[2]):
        return 'c'
    else:
        return 'd'

#Function to convert a continuous data into labelled data
#There are 4 lables  - a, b, c, d
def toLabel(df, old_feature_name):
    second = df[old_feature_name].mean()
    minimum = df[old_feature_name].min()
    first = (minimum + second)/2
    maximum = df[old_feature_name].max()
    third = (maximum + second)/2
    return df[old_feature_name].apply(label, args= (first, second, third))

In [98]:
#Convert all columns to labelled data
df['sl_labeled'] = toLabel(df, 'sl')
df['sw_labeled'] = toLabel(df, 'sw')
df['pl_labeled'] = toLabel(df, 'pl')
df['pw_labeled'] = toLabel(df, 'pw')
df

      sl   sw   pl   pw sl_labeled sw_labeled pl_labeled pw_labeled
0    5.1  3.5  1.4  0.2          b          c          a          a
1    4.9  3.0  1.4  0.2          a          b          a          a
2    4.7  3.2  1.3  0.2          a          c          a          a
3    4.6  3.1  1.5  0.2          a          c          a          a
4    5.0  3.6  1.4  0.2          a          c          a          a
..   ...  ...  ...  ...        ...        ...        ...        ...
145  6.7  3.0  5.2  2.3          c          b          c          d
146  6.3  2.5  5.0  1.9          c          a          c          d
147  6.5  3.0  5.2  2.0          c          b          c          d
148  6.2  3.4  5.4  2.3          c          c          d          d
149  5.9  3.0  5.1  1.8          c          b          c          c

[150 rows x 8 columns]

In [99]:
df.drop(['sl', 'sw', 'pl', 'pw'], axis = 1, inplace = True)

In [100]:
set(df['sl_labeled'])

{'a', 'b', 'c', 'd'}

In [101]:
df

    sl_labeled sw_labeled pl_labeled pw_labeled
0            b          c          a          a
1            a          b          a          a
2            a          c          a          a
3            a          c          a          a
4            a          c          a          a
..         ...        ...        ...        ...
145          c          b          c          d
146          c          a          c          d
147          c          b          c          d
148          c          c          d          d
149          c          b          c          c

[150 rows x 4 columns]

In [102]:
def calculate_entropy(Y):
    
    Classes=set(Y[0])
    entropy=0
    total_rows=len(Y)
    
    for cl in Classes:
        
        rows_of_cl=(Y[0]==cl).sum()
        probability=rows_of_cl/total_rows
        
        entropy+=-(probability*log2(probability))
    
    return entropy

In [120]:
def build_tree(df, y, unused_features):
    #base case
    # 1. unused is empty
    # 2. y contains only one distinct value
    
    list_of_classes=[]
    no_of_rows_of_classes=[]
    total_rows=y.shape[0]
    current_entropy=calculate_entropy(y)
    
    
    for Class in set(y[0]):
        
        no_of_rows=(y[0]==Class).sum()
        
        print("Count of",Class,"=",no_of_rows)
        
        list_of_classes.append( Class )
        no_of_rows_of_classes.append( no_of_rows )
    
    print("Current Entropy is =",current_entropy)
    
    if(len(list_of_classes)==1):
        print("Reached Lead Node")
        return
    
    if(len(unused_features)==0):
        return 
    
    
    best_feature =""
    best_gain_ratio=0
    
    for f in unused_features:
        
        possible_values = set(df[f])
        split_index_at_f=0
        total_entropy_at_f=0
        
        for value in possible_values:
            
            rows=df[f]==value
            entropy_of_f_value=calculate_entropy(y[rows])
            probability=rows.sum()/total_rows
            
            
            total_entropy_at_f+=probability*entropy_of_f_value
            split_index_at_f+=-probability*log2(probability)
        
        gain_ratio_at_f=(current_entropy-total_entropy_at_f)/split_index_at_f
        
        print(f,gain_ratio_at_f)
        if(gain_ratio_at_f>best_gain_ratio):
            best_gain_ratio=gain_ratio_at_f
            best_feature=f
    
        # loop over possible values : val
        # find subset of df & y with f == val
        # find number of mistakes in this subset 
        # if we predict the most common y as the output
        # find sum of all these mistakes
        # update best feature so that that particular feature
        # makes least number of mistakes
    
    # here you should know the best feature
    # print it out
    
    if(best_feature==""):
        return
    
    print("Best Feature ", best_feature,"with split ratio",best_gain_ratio)
    
    new_unused_features=list(unused_features)
    new_unused_features.remove(best_feature)
    
    for value in set(df[best_feature]):
        row_of_value=df[best_feature]==value
        print()
        build_tree(df[row_of_value], y[row_of_value], new_unused_features)
        
    
    # remove best feature from unused features
    # loop over possible values of best feature
    # call build tree recursively

In [122]:
y = pd.DataFrame(iris.target)
unused_features = set(df.columns)
build_tree(df, y, unused_features)

Count of 0 = 50
Count of 1 = 50
Count of 2 = 50
Current Entropy is = 1.584962500721156
pl_labeled 0.6994258928569309
sw_labeled 0.1729048730313931
pw_labeled 0.6996382036222091
sl_labeled 0.3158440034296784
Best Feature  pw_labeled with split ratio 0.6996382036222091

Count of 1 = 10
Current Entropy is = 0.0
Reached Lead Node

Count of 2 = 34
Current Entropy is = 0.0
Reached Lead Node

Count of 0 = 50
Current Entropy is = 0.0
Reached Lead Node

Count of 1 = 40
Count of 2 = 16
Current Entropy is = 0.863120568566631
pl_labeled 0.4334099495621067
sw_labeled 0.007210937599611263
sl_labeled 0.14596513446778617
Best Feature  pl_labeled with split ratio 0.4334099495621067

Count of 1 = 1
Current Entropy is = 0.0
Reached Lead Node

Count of 2 = 8
Current Entropy is = 0.0
Reached Lead Node

Count of 1 = 39
Count of 2 = 8
Current Entropy is = 0.6581912658132185
sw_labeled 0.04553496474578601
sl_labeled 0.12674503775809332
Best Feature  sl_labeled with split ratio 0.12674503775809332

Count of 1 = 14
Current Entropy is = 0.0
Reached Lead Node

Count of 1 = 23
Count of 2 = 7
Current Entropy is = 0.783776947484701
sw_labeled 0.07092036405148876
Best Feature  sw_labeled with split ratio 0.07092036405148876

Count of 1 = 14
Count of 2 = 6
Current Entropy is = 0.8812908992306927

Count of 1 = 3
Count of 2 = 1
Current Entropy is = 0.8112781244591328

Count of 1 = 6
Current Entropy is = 0.0
Reached Lead Node

Count of 1 = 2
Current Entropy is = 0.0
Reached Lead Node

Count of 2 = 1
Current Entropy is = 0.0
Reached Lead Node

In [ ]:
Y=pd.DataFrame([1,1,1,0])
X=pd.DataFrame([[1,1],[0,1],[1,0],[0,0]])
build_tree(X, Y, [0,1])